* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Trebuchet MS';
}

:root {
    --corPrimaria: red;
    --corSecundaria: #fff;
    --corLaranja: #f2861b;
    --corAmarela: #c7c730;
    --corPreto: #302727;
}

header {
    width: 100%;
    background-color: var(--corPreto);
    color: white;
    padding: 20px 10px 10px 10px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;    
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 15px; 
}

#MenuEsquerdo {
    display: flex;
    list-style: none;
    gap: 20px;
}

#MenuEsquerdo a {
    color: white;
    text-decoration: none;
    font-weight: 500px;
}

#MenuEsquerdo a:hover {
    text-decoration: none;
}

#MenuDireito {
    display: flex;
    align-items: center;
}

#MenuDireito button {
    background-color: var(--corLaranja);
    color: white;
    border: none;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    font-weight: 500px;
}

#MenuDireito button:hover {
    background-color: #e07b3d;
}

main {
    padding: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

#banner {
    height: fixed;
    background-image: url(../images/Imagem\ Games.png);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mensagem {
    background-color: ;
    padding: 5px;
    border-radius: 2px;
}

#banner h4 {
    font-size: 30px;
}

#banner p {
    font-size: 20px;
}

button[type="button"] {
    background-color: var(--corPrimaria);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 500;
}

button[type="button"]:hover {
    background-color: darkred;
}

#cadastro, #login, #catalogo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh;  
    padding: 20px;   
}

#cadastro form, #login form {
    max-width: 400px;
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: var(--corPrimaria);
    outline: none;
}

button[type="submit"] {
    padding: 15px;
    background-color: var(--corPrimaria);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px;
    margin-right: 15px; 
}

button[type="submit"]:hover {
    background-color: darkred;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.produto img {
    max-width: 100%;
    height: auto;
}

footer {
    width: 100%;
    background-color: var(--corPreto);
    color: white;
    padding: 10px 0;
    text-align: center;
}