*{
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(143, 178, 188);
    margin: 0;
    padding: 20px;
}

#cadastro {
    background: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#lista {
    margin-top: 20px;
}

.carro {
    background: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}